---
import Layout from '~/layouts/PageLayout.astro';
import Header from '~/components/widgets/Header.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ContactMe from '~/components/widgets/Contact.astro';
import Features from '~/components/widgets/Features.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->
  <Fragment slot="header">
    <Header
      links={[]}
      actions={[
        { text: 'Download CV', href: '/pdfs/Jose_Matos_Senior_Frontend_Engineer_Resume.pdf', target: '_blank' },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <HeroText tagline="Contact" title="Let's Connect!" />

  <ContactMe
    id="form"
    title="Get in Touch"
    subtitle="I'm always open to new opportunities and collaborations. Feel free to reach out if you have any questions or just want to say hello!"
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Name',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
      },
    ]}
    textarea={{
      label: 'Message',
    }}
    disclaimer={{
      label:
        'By submitting this contact form, you acknowledge and agree to the collection of your personal information.',
    }}
    description="I'll do my best to respond within 24-48 hours."
  />

  <!-- Features Widget ************** -->

  <Features
    title="Other Ways to Reach Me"
    items={[
      {
        title: 'Phone',
        description: '+41 0 782 275 230',
        icon: 'tabler:headset',
      },
      {
        title: 'Email',
        description: 'contact@josematoswork.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Location',
        description: 'Basel, Switzerland',
        icon: 'tabler:map-pin',
      },
    ]}
  />
  <!-- Calendly Widget Section -->
  <div class="py-12 md:py-16 lg:py-20">
    <div class="md:mx-auto text-center max-w-xl sm:mx-auto lg:max-w-2xl mb-8">
      <h2 class="leading-tighter text-heading text-3xl md:text-4xl font-bold tracking-tighter mb-4 font-heading">
        Schedule a Meeting
      </h2>
      <p class="max-w-3xl mx-auto sm:text-center text-xl text-muted dark:text-slate-400">
        Book time directly on my calendar for a conversation about potential collaborations or opportunities.
      </p>
    </div>
    <div class="max-w-3xl mx-auto">
      <!-- Calendly inline widget begin -->
      <div class="calendly-inline-widget" data-url="https://calendly.com/developer-josematoswork" style="min-width:320px;height:700px;"></div>
      <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
      <!-- Calendly inline widget end -->
    </div>
  </div>
</Layout>
<style is:global>
  #n8n-chat {
	--chat--color-primary: #8a4300;
	--chat--color-primary-shade-50: #000000;
	--chat--color-primary-shade-100: #404040;
	--chat--color-secondary: #404040;
	--chat--color-secondary-shade-50: #8a4300;
	--chat--color-white: #ffffff;
	--chat--color-light: #f2f4f8;
	--chat--color-light-shade-50: #e6e9f1;
	--chat--color-light-shade-100: #c2c5cc;
	--chat--color-medium: #d2d4d9;
	--chat--color-dark: #000000;
	--chat--color-disabled: #777980;
	--chat--color-typing: #404040;

	--chat--spacing: 1rem;
	--chat--border-radius: 8px;
	--chat--transition-duration: 0.15s;

	--chat--window--width: 400px;
	--chat--window--height: 600px;
	--chat--body--background: #ffffff;

	--chat--header-height: auto;
	--chat--header--padding: 16px;
	--chat--header--background: #ffffff;
	--chat--header--color: var(--chat--color-white);
	--chat--header--border-top: none;
	--chat--header--border-bottom: 1px solid var(--chat--color-light-shade-100);
	--chat--heading--font-size: 16px;
	--chat--header--color: var(--chat--color-dark);
	--chat--subtitle--font-size: 12px;
	--chat--subtitle--line-height: 1;

	--chat--textarea--height: 50px;
	--chat--input--font-size: 12px;

	--chat--message--font-size: 12px;
	--chat--message--padding: var(--chat--spacing);
	--chat--message--border-radius: var(--chat--border-radius);
	--chat--message-line-height: 1.4;
	--chat--message--bot--background: var(--chat--color-light);
	--chat--message--bot--color: var(--chat--color-dark);
	--chat--message--bot--border: none;
	--chat--message--user--background: var(--chat--color-secondary);
	--chat--message--user--color: var(--chat--color-white);
	--chat--message--user--border: none;
	--chat--message--pre--background: #ffffff;

	--chat--toggle--background: var(--chat--color-primary);
	--chat--toggle--hover--background: var(--chat--color-primary-shade-50);
	--chat--toggle--active--background: var(--chat--color-primary-shade-100);
	--chat--toggle--color: var(--chat--color-white);
	--chat--toggle--size: 64px;
    }

</style>
<link href="https://cdn.jsdelivr.net/npm/@n8n/chat/dist/style.css" rel="stylesheet" />
<script defer type="module">
	import { createChat } from 'https://cdn.jsdelivr.net/npm/@n8n/chat/dist/chat.bundle.es.js';

	createChat({
		webhookUrl: 'https://n8n.josematoswork.com/webhook/15e4d662-3f98-48d0-9f50-68838769ecac/chat',
    initialMessages: [
      'I\'m an AI assistant that knows everything about Jos\é. How can I assist you today?'
    ],
    i18n: {
      en: {
        title: 'Hi there! 👋',
        subtitle: "Start a chat. I'm here to help you 24/7.",
        footer: '',
        getStarted: 'New Conversation',
        inputPlaceholder: 'Type your question about Jos\é',
        },
      },
    });
</script>